COMPOSE_PROJECT_NAME=intelligent-data-platform
FRONTEND_PORT=3000
BACKEND_PORT=8000
POSTGRES_PORT=5432
POSTGRES_DB=platform
POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
AUTH_BOOTSTRAP_USERNAME=platform-admin
AUTH_BOOTSTRAP_PASSWORD=change-me-now
